.popup-window{
	width: 500px;
	min-height: 300px;
	max-height: 300px;
	padding: 10px;
}

.ext-title{
	font-family: 'Roboto', sans-serif;
}

.list-button{
	display: inline-block;
	background-color: rgba(11,126,207,1);
	color: rgba(255,255,255,1);
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
	padding: 5px 15px;
}

.list-button:hover{
	background-color: rgba(66,133,244,1);
	cursor: pointer;
}

.list-textbox{
	width: 300px;
}

.list-area{
	list-style-type: none;
	padding: 10px;
}

.list-element{
	width: 80%;
	background-color: rgba(230,230,230,1);
	display: inline-block;
}

.list-element:nth-child(even){
	background-color: rgba(200,200,200,1);
}

.close-button{
	display: inline-block;
	color: rgba(180,180,180,1);
	text-align: center;
	width: 16px;
	height: 16px;
	float: right;
}

.close-button:hover{
	background-color: rgba(255,0,0,1);
	border-radius: 50%;
	width: 16px;
	height: 16px;
	cursor: pointer;
}